<nb-card-header>{{ 'NEW_USER'| translate }}</nb-card-header>
  <br>
  <nb-card-body>
    <input type="text" placeholder="{{ 'NAME' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'SURNAME' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'EMAIL' | translate }}" class="form-control"/>
    <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control"/>
    <br>
    <p class="birthdate" >{{ 'BIRTHDATE' | translate }}</p>
    <input type="date" placeholder="{{ 'BIRTHDATE' | translate }}" class="form-control"/> 
    <nb-checkbox class="form-control">{{ 'ADMIN' | translate }}</nb-checkbox>
    <br>
  </nb-card-body>
  <br>
  <button nbButton class="create-user">{{'CREATE_USER'|translate}}</button>
     
     

