<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <li *ngFor="let role of roles">
          <nb-checkbox name="role" [(ngModel)]="role.selected">{{ role.name }}</nb-checkbox>
          
      </li>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero status="danger" (click)="cancel()">{{'CANCEL'|translate}}</button>
      <button class="submit" nbButton hero status="success" (click)="submit(roles)">{{'SUBMIT'|translate}}</button>
    </nb-card-footer>
  </nb-card>
  