



  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }

  .header {
      h3 {
          margin-left: 1%;
      }
  }


.button {
    border-radius: 1.5rem;
}

.maintitle {
  font-size: 1.7rem;
  text-align: center;
  display: inline;
  padding: 0;
}

.subtitle {
  padding: 0;
  font-size: 1rem;
  text-align: center;
}

.linkschool {
    color: #a1a1e5;
}

.logout {
  padding: 3%;
}

.credits {
  text-align: end;
    padding: 3%;
    font-size: 1.3rem;
}

.welcome {
  margin-top: 15%;
}

.img {
  width: 350px;
  height: 350px;
  border-radius:8px !important;
  border:1px solid #ffffff;
}

.linkschool {
  color: #a1a1e5;
}

.button {
  border-radius: 1.5rem;
}

.logout {
  padding: 3%;
}

.footer {
  margin-top: 3%;
}

