<div class="row header">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="row header">
                        <h3 class="font-w-light welcome-back">{{'WELCOME_BACK'|translate}}</h3>  <h3 class="font-w-bold">{{ fullName }}!</h3> <h3 class="font-w-light welcome-back">{{'WELCOME_DAILY_MESSAGE'|translate}}!</h3> 
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row content">
    <div class="col-md-6">
        <nb-card class="list-card" size="small">
            <nb-card-header>{{'ARBITRATED_RUNS'|translate}}</nb-card-header>
            <nb-list>
              <nb-list-item *ngFor="let arbitratedRun of arbitratedRuns">
                <nb-user [name]="arbitratedRun.Team.name" [title]="arbitratedRun.status">
                </nb-user>
              </nb-list-item>
            </nb-list>
          </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                {{'ARBITRATE_NEW_RUN'|translate}}
            </nb-card-header>
            <nb-card-body>
                <button nbButton fullWidth status="danger" class="button" (click)="qrCodeScan()">{{'SCAN_THE_TEAM_CODE'|translate}}</button>
            </nb-card-body>
        </nb-card>
        <nb-card>
                <nb-card-header>
                    {{'DOWNLOAD_CALENDAR'|translate}}
                </nb-card-header>
                <nb-card-body>
                    <button href="{{ apiUrl }}/calendar" nbButton fullWidth status="success" class="button">Download</button>
                </nb-card-body>
            </nb-card>
    </div>
</div>

<div class="row footer">
    <div class="col-sm-12"> 
        <nb-card>
            <div class="row">
            <div class="logout col-sm-4">
                <button nbButton status="danger" class="button" (click)="logout()"><i class="fas fa-sign-out-alt"></i></button>
            </div>
            <div class="credits col-sm-4">
                <div class="row">
                        <a class="mr-3" (click)="languageSelect('italian')">
                            <img src="./../../../assets/images/italy.png" width="40px" height="40px">
                        </a>
                        <a class="ml-3" (click)="languageSelect('english')">
                            <img src="./../../../assets/images/united-kingdom.png" width="40px" height="40px">
                        </a>
                </div>
            </div>
            <div class="credits col-sm-4">
                    <span class=" created-by">
                        {{ 'CREATED_BY' | translate }}
                        <a class="font-w-bold linkschool" href="http://iisvoltapescara.gov.it/" target="_blank">I.I.S A.Volta Pescara</a>
                        2018-2019
                    </span>
                </div>
            </div>  
        </nb-card>   
    </div>
</div>
