
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }

  .header {
      h3 {
          margin-left: 1%;
      }
  }


.button {
    border-radius: 1.5rem;
}

.linkschool {
    color: #a1a1e5;
}

.logout {
  padding: 2%;
}

.credits {
  text-align: end;
    padding: 3%;
    font-size: 1.3rem;
}
