<nb-card-header>{{ 'NEW_COMPETITION'| translate }}</nb-card-header>
  <br>
  <nb-card-body>
    <input type="text" placeholder="{{ 'NAME' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'DESCRIPTION' | translate }}" class="form-control"/>
    <br>
    <p class="birthdate" >{{ 'START_DATE' | translate }}</p>
    <input type="date" placeholder="{{ 'BIRTHDATE' | translate }}" class="form-control"/> 
    <br>
    <p class="birthdate" >{{ 'END_DATE' | translate }}</p>
    <input type="date" placeholder="{{ 'BIRTHDATE' | translate }}" class="form-control"/> 
    <br>
  </nb-card-body>
  <br>
  <button nbButton class="create-competition">{{'CREATE_COMPETITION'|translate}}</button>
     
     

