.value {
  font-size: 1.5rem;
  margin-left: 5px;
}

.value-header {
  margin-left: 20px;
  font-size: 1.5rem;
}

.sign {
  position: relative;
  margin-left: 10rem;
  margin-top: 1rem;
  background-color: white;
}

.points {
  font-size: 2rem;
}
