.value {
  font-size: 1.5rem;
  margin-left: 5px;
}

.value-header {
  margin-left: 20px;
  font-size: 1.5rem;
}

.sign {
  margin-left: 2.5%;
  width: 95%;
  height: auto;
}

.points {
  font-size: 2rem;
}
