<nb-auth-block>
  <h2 class="title">{{ 'LOGIN_TITLE' | translate }}</h2>
  <small class="form-text sub-title">{{ 'LOGIN_INSTRUCTIONS' | translate }}</small>

  <form (ngSubmit)="onLoginButtonPress()" #form="ngForm" autocomplete="nope">

    <nb-alert *ngIf="errors?.length && !submitted" outline="danger">
      <div><strong>{{ 'LOGIN_ERROR_MESSAGE' | translate }}</strong></div>
      <div *ngFor="let error of errors">{{ error | translate }}</div>
    </nb-alert>

    <nb-alert *ngIf="messages?.length && !submitted" outline="success">
      <div><strong>Hooray!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </nb-alert>

    <div class="form-group">
      <label for="input-email" class="sr-only">Email</label>
      <input nbInput
             [(ngModel)]="user.email"
             #email="ngModel"
             name="email"
             id="input-email"
             pattern=".+@.+\..+"
             placeholder= "Email"
             autofocus
             fullWidth
             [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
             required>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
        {{ 'LOGIN_EMAIL_REQUIRED' | translate }}
      </small>
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
        {{ 'LOGIN_EMAIL_REALONE' | translate }}
      </small>
    </div>

    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input nbInput
             [(ngModel)]="user.password"
             #password="ngModel"
             name="password"
             type="password"
             id="input-password"
             placeholder="Password"
             fullWidth
             [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
             required>
      <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
        {{ 'LOGIN_PASSWORD_REQUIRED' | translate }}
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
        Password should contains
        from {{ getConfigValue('forms.validation.password.minLength') }}
        to {{ getConfigValue('forms.validation.password.maxLength') }}
        characters
      </small>
    </div>

    <!--<div class="form-group accept-group col-sm-12">
      <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">{{ 'LOGIN_CHECK_REMEMBERME' | translate }}</nb-checkbox>
      <a class="forgot-password" routerLink="../request-password">{{ 'LOGIN_FORGOT_PASSWORD' | translate }}</a>
    </div>-->

    <button nbButton
            status="success"
            fullWidth
            [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">
      {{ 'LOGIN_SIGNIN' | translate }}
    </button>
  </form>

  <div class="links">

    <!--<ng-container *ngIf="socialLinks && socialLinks.length > 0">
      <small class="form-text">{{ 'LOGIN_CONNECT_WITH_SOCIAL' | translate }}</small>

      <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks">
          <a *ngIf="socialLink.link"
             [routerLink]="socialLink.link"
             [attr.target]="socialLink.target"
             [attr.class]="socialLink.icon"
             [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
          <a *ngIf="socialLink.url"
             [attr.href]="socialLink.url"
             [attr.target]="socialLink.target"
             [attr.class]="socialLink.icon"
             [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
        </ng-container>
      </div>
    </ng-container>-->
    <a href="{{ apiUrl }}/calendar">Scarica il calendario</a>

    <small class="mt-3 form-text">
      {{ 'LOGIN_SIGNUP_DESCRIPTION' | translate }} <a routerLink="../register"><strong>{{ 'LOGIN_SIGNUP' | translate }}</strong></a>
    </small>
  </div>
</nb-auth-block>
