<div class="welcome" *ngIf="!authService.isManifestationSelected()">
  <div class="maintitle">
    <h1 class="font-w-bold">{{ 'SELECT_A_MANIFESTATION' | translate }}</h1>
  </div>

  <div class="subtitle">
    <h1 class="font-w-light">{{'GO_TO_THE_DASHBOARD' | translate}}!</h1>
  </div>
</div>

<div *ngIf="authService.isManifestationSelected()">

  <div class="row mb-3">
  <button *ngIf="authService.canDo('createPhase')" class="mb-3" [ngClass]="{ 'btn': true, 'btn-success': !phase.show, 'btn-danger': phase.show }"
    type="button" (click)="toggleForm()">
    <i [ngClass]="{ 'fas': true, 'fa-plus': !phase.show, 'fa-times': phase.show }"></i>
    {{ (phase.show ? 'HIDE_FORM' : 'SHOW_FORM') | translate }}
  </button>
  <!--<button class="ml-2" class="btn btn-primary" type="button"
      (click)="generateQRCodes()">
      <i class="fas fa-qrcode"></i>
      {{ 'GENERATE_QR_CODE' | translate }}
    </button>-->
  </div>

  <form (ngSubmit)="onButtonClicked()" #form="ngForm" [hidden]="!phase.show">
    <div class="form-group">
      <nb-card>
        <nb-card-header>{{'NEW_PHASE' | translate}}</nb-card-header>
        <nb-card-body>
          <div class="mb-3">
            <label for="input-name" class="sr-only">{{ 'PHASE_NAME' | translate}}</label>
            <input nbInput [(ngModel)]="phase.name" #name="ngModel" id="input-name" name="name" placeholder="{{ 'PHASE_NAME' | translate }}"
              autofocus fullWidth [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''" required>
            <small class="form-text error" *ngIf="name.touched && name.errors?.required">
              {{ 'PHASE_NAME_REQUIRED' | translate }}
            </small>
          </div>
          <div class="mb-3">
            <textarea nbInput [(ngModel)]="phase.description" name="description" rows="5" placeholder="{{'PHASE_DESCRIPTION'|translate}}"
              class="form-control"></textarea>
          </div>

           <!--<div class="mb-3">
              <input nbInput placeholder="{{'PHASE_DATE'|translate}}" [nbDatepicker]="rangepicker" type="text" name="date"
                #date="ngModel" [(ngModel)]="phase">
              <nb-rangepicker #rangepicker></nb-rangepicker>
            </div>

            -->

            <div class="row">
                <label class="col-md-1 mt-3">{{'CATEGORY'|translate}}</label>
                <div class="col-md-11">
                  <select name="category" [(ngModel)]="phase.category" class="form-control">
                    <option *ngFor="let category of categoriesList" [ngValue]="category">{{category.name}}</option>
                  </select>
                </div>
            </div>



          <div class="mt-3 mb-3">
            <label for="input-numAdmittedTeams" class="sr-only">{{ 'PHASE_NUM_ADMITTED_TEAMS' | translate}}</label>
            <input nbInput [(ngModel)]="phase.numAdmittedTeams" #numAdmittedTeams="ngModel" id="input-numAdmittedTeams"
              name="numAdmittedTeams" type="number" placeholder="{{ 'PHASE_NUM_ADMITTED_TEAMS' | translate }}"
              autofocus fullWidth [status]="numAdmittedTeams.dirty ? (numAdmittedTeams.invalid  ? 'danger' : 'success') : ''"
              required>
            <small class="form-text error" *ngIf="numAdmittedTeams.touched && numAdmittedTeams.errors?.required">
              {{ 'PHASE_NUM_ADMITTED_TEAMS_REQUIRED' | translate }}
            </small>
          </div>

          <div class="mt-3 mb-3">
            <label for="input-numField" class="sr-only">{{ 'NUM_FIELDS' | translate}}</label>
            <input nbInput [(ngModel)]="phase.numField" #numField="ngModel" id="input-numField"
              name="numField" type="number" placeholder="{{ 'NUM_FIELDS' | translate }}"
              autofocus fullWidth [status]="numField.dirty ? (numField.invalid  ? 'danger' : 'success') : ''"
              required>
            <small class="form-text error" *ngIf="numField.touched && numField.errors?.required">
              {{ 'NUM_FIELDS_REQUIRED' | translate }}
            </small>
          </div>

          <div class="mb-3">
            <label for="input-numPassingTeams" class="sr-only">{{ 'PHASE_NUM_PASSING_TEAMS' | translate}}</label>
            <input nbInput [(ngModel)]="phase.numPassingTeams" #numPassingTeams="ngModel" id="input-numPassingTeams"
              name="numPassingTeams" placeholder="{{ 'PHASE_NUM_PASSING_TEAMS' | translate }}" autofocus type="number"
              fullWidth [status]="numPassingTeams.dirty ? (numPassingTeams.invalid  ? 'danger' : 'success') : ''"
              required>
            <small class="form-text error" *ngIf="numPassingTeams.touched && numPassingTeams.errors?.required">
              {{ 'PHASE_NUM_PASSING_TEAMS_REQUIRED' | translate }}
            </small>
          </div>

          <button fullWidth class="btn-btn-primary" (click)="onTeamCliked(); $event.preventDefault()" nbButton hero>{{'TEAMS'|translate}}</button>

          <div class="row mt-3">
            <label class="col-md-3">{{'START_END'|translate}}</label>
            <input class="col-md-4 datetime" [(ngModel)]="phase.start" type="datetime-local" id="meeting-time"
            name="meeting-time">
            <div class="col-md-1"></div>
            <input class="col-md-4 datetime" [(ngModel)]="phase.end" type="datetime-local" id="meeting-time"
            name="meeting-time">
          </div>

          <!--

            DA AGGIUNGERE PER INSERIRE PIU' SESSIONI

          <div class="row mt-3" *ngFor="let session of sessions">
            <label class="col-md-3 mt-3">{{'SELECT_SESSION_DATE_AND_TIME'|translate}}</label>
            <input class="col-md-6 datetime" [(ngModel)]="session" type="datetime-local" id="meeting-time"
            name="meeting-time">
            <button class="col-md-3" nbButton status="danger" fullWidth (click)="destroySession(); $event.preventDefault()"><i class="fas fa-trash"></i></button>
          </div>

          -->


          <button class="btn btn-primary mt-3" [disabled]="submitted || !form.valid" nbButton hero>{{'CREATE_PHASE'|translate}}</button>
          <!--
            DA AGGIUNGERE PER INSERIRE PIU' SESSIONI
            <button class="mt-3 ml-3" status="danger" nbButton (click)="addSession(); $event.preventDefault()">{{'ADD_SESSION'|translate}}</button>
          -->
        </nb-card-body>
      </nb-card>
    </div>
  </form>


  <nb-card *ngIf="authService.canDo('getPhasesInManifestation')" size="xxlarge">
    <nb-card-header>
      {{'PHASES'|translate}}
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)"
        (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
