<div class="welcome" *ngIf="!authService.isManifestationSelected()">
  <div class="maintitle">
    <h1 class="font-w-bold">{{ 'SELECT_A_MANIFESTATION' | translate }}</h1>
  </div>

  <div class="subtitle">
    <h1 class="font-w-light">{{'GO_TO_THE_DASHBOARD' | translate}}!</h1>
  </div>
</div>

<div *ngIf="authService.isManifestationSelected()">
  <button *ngIf="authService.canDo('createPhase')" class="mb-3" [ngClass]="{ 'btn': true, 'btn-success': !phase.show, 'btn-danger': phase.show }" type="button"
    (click)="toggleForm()">
    <i [ngClass]="{ 'fas': true, 'fa-plus': !phase.show, 'fa-times': phase.show }"></i>
    {{ (phase.show ? 'HIDE_FORM' : 'SHOW_FORM') | translate }}
  </button>

  <form (ngSubmit)="onButtonClicked()" #form="ngForm" [hidden]="!phase.show">
    <div class="form-group">
      <nb-card>
        <nb-card-header>{{'NEW_PHASE' | translate}}</nb-card-header>
        <nb-card-body>
          <div class="mb-3">
            <label for="input-name" class="sr-only">{{ 'PHASE_NAME' | translate}}</label>
            <input nbInput [(ngModel)]="phase.name" #name="ngModel" id="input-name" name="name" placeholder="{{ 'PHASE_NAME' | translate }}"
              autofocus fullWidth [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''" required>
            <small class="form-text error" *ngIf="name.touched && name.errors?.required">
              {{ 'PHASE_NAME_REQUIRED' | translate }}
            </small>
          </div>
          <div class="mb-3">
            <textarea nbInput [(ngModel)]="phase.description" name="description" rows="5" placeholder="{{'PHASE_DESCRIPTION'|translate}}"
              class="form-control"></textarea>
          </div>

          <div class="mb-3">
            <input nbInput
                placeholder="{{'PHASE_DATE'|translate}}"
                [nbDatepicker]="rangepicker"
                type="text"
                name="date"
                #date="ngModel"
                [(ngModel)]="phase"
                >
          <nb-rangepicker #rangepicker></nb-rangepicker>
          </div>

        
        <div class="mb-3">
          <label for="input-numAdmittedTeams" class="sr-only">{{ 'PHASE_NUM_ADMITTED_TEAMS' | translate}}</label>
          <input nbInput
                  [(ngModel)]="phase.numAdmittedTeams"
                  #numAdmittedTeams="ngModel"
                  id="input-numAdmittedTeams"
                  name="numAdmittedTeams"
                  type="number"
                  placeholder="{{ 'PHASE_NUM_ADMITTED_TEAMS' | translate }}"
                  autofocus
                  fullWidth
                  [status]="numAdmittedTeams.dirty ? (numAdmittedTeams.invalid  ? 'danger' : 'success') : ''"
                  required>
          <small class="form-text error" *ngIf="numAdmittedTeams.touched && numAdmittedTeams.errors?.required">
            {{ 'PHASE_NUM_ADMITTED_TEAMS_REQUIRED' | translate }}
          </small>
          </div>
        
        <div class="mb-3">
          <label for="input-numPassingTeams" class="sr-only">{{ 'PHASE_NUM_PASSING_TEAMS' | translate}}</label>
          <input nbInput
                  [(ngModel)]="phase.numPassingTeams"
                  #numPassingTeams="ngModel"
                  id="input-numPassingTeams"
                  name="numPassingTeams"
                  placeholder="{{ 'PHASE_NUM_PASSING_TEAMS' | translate }}"
                  autofocus
                  type="number"
                  fullWidth
                  [status]="numPassingTeams.dirty ? (numPassingTeams.invalid  ? 'danger' : 'success') : ''"
                  required>
          <small class="form-text error" *ngIf="numPassingTeams.touched && numPassingTeams.errors?.required">
            {{ 'PHASE_NUM_PASSING_TEAMS_REQUIRED' | translate }}
          </small>
          </div>

          <button class="btn btn-primary" [disabled]="submitted || !form.valid" nbButton hero>{{'CREATE_PHASE'|translate}}</button>
        </nb-card-body>
      </nb-card>
    </div>
  </form>


  <nb-card *ngIf="authService.canDo('seePhases')" size="xxlarge">
    <nb-card-header>
      {{'PHASES'|translate}}
    </nb-card-header>

  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)"
        (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>  