<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{ modalContent }}
</div>
<div class="modal-footer">
    <button class="btn btn-md btn-secondary" (click)="closeModal(false)">{{'CANCEL' | translate}}</button>
    <button class="btn btn-md btn-primary" (click)="closeModal(true)">{{'CONFIRM' | translate}}</button>
</div>