<form (ngSubmit)="onButtonClicked()" #form="ngForm">
  <div class="form-group">
    <nb-card>
      <nb-card-header>{{'NEW_USER' | translate}}</nb-card-header>
      <nb-card-body>
        <div class="row full-name-inputs mb-3">
          <div class="col-sm-6 input-group">
            <input nbInput [(ngModel)]="user.name" #name="ngModel" id="input-name" name="name" placeholder="{{ 'NAME' | translate }}"
            autofocus fullWidth [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''" required>
            <small class="form-text error" *ngIf="name.touched && name.errors?.required">
              {{ 'NAME_REQUIRED' | translate }}
            </small>
            <small class="form-text error" *ngIf="surname.touched && surname.errors?.required">
              {{'  '}} 
             </small>
          </div>
          <div class="col-sm-6 input-group">
            <input nbInput [(ngModel)]="user.surname" #surname="ngModel" id="input-surname" name="surname" placeholder="{{ 'SURNAME' | translate }}"
            autofocus fullWidth [status]="surname.dirty ? (surname.invalid  ? 'danger' : 'success') : ''" required>
            <small class="form-text error" *ngIf="surname.touched && surname.errors?.required">
              {{ 'SURNAME_REQUIRED' | translate }}
            </small>
            <small class="form-text error" *ngIf="name.touched && name.errors?.required">
             {{'  '}} 
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label for="input-email" class="sr-only">{{ 'EMAIL' | translate}}</label>
          <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" pattern=".+@.+\..+" name="email" placeholder="{{ 'EMAIL' | translate }}"
            autofocus fullWidth [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''" required>
          <small class="form-text error" *ngIf="email.touched && email.errors?.required">
            {{ 'EMAIL_REQUIRED' | translate }}
          </small>
          <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
            {{ 'EMAIL_REALONE' | translate }}
          </small>
        </div>

        <div class="mb-3">
          <label for="input-password" class="sr-only">{{ 'PASSWORD' | translate}}</label>
          <input nbInput [(ngModel)]="user.password" type="password" #password="ngModel" id="input-password" name="password" placeholder="{{ 'PASSWORD' | translate }}"
            autofocus fullWidth [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" required [minlength]="passwordRange.minLength" [maxlength]="passwordRange.maxLength">
          <small class="form-text error" *ngIf="password.touched && password.errors?.required">
            {{ 'PASSWORD_REQUIRED' | translate }}
          </small>
          <small
             class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
            {{ 'PASSWORD_LENGTH_ERROR' | translate:passwordRange }}
          </small>
        </div>

        <div class="mb-3">
          <label for="input-re-password" class="sr-only">{{ 'CONFIRM_PASSWORD' | translate }}</label>
          <input nbInput
                 [(ngModel)]="user.confirmPassword"
                 #rePass="ngModel"
                 type="password"
                 id="input-re-password"
                 name="rePass"
                 placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
                 fullWidth
                 [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
                 required>
          <small class="form-text error"
             *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">
             {{ 'PASSWORD_CONFIRMATION_REQUIRED' | translate }}
          </small>
          <small
            class="form-text error"
            *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
            {{ 'PASSWORD_CONFIRMATION_ERROR' | translate }}
          </small>
        </div>

        <div class="mb-3">
          <nb-checkbox status="success" class="col-sm-4" [(ngModel)]="user.isAdmin" #isAdmin="ngModel" name="isAdmin">Admin</nb-checkbox>
        </div>

       <div class="row"> 
        <div class="mb-3 col-sm-6" [hidden]="user.isAdmin">
            <!--<button class="btn btn-primary" type="button" ngbDropdownToggle>
              {{ 'MANIFESTATIONS' | translate }}
            </button>-->
            <input type="text" class="form-control"
                    placeholder="{{ 'MANIFESTATIONS' | translate }}"
                    (selectItem)="onManifestationClicked($event)"
                    [ngbTypeahead]="searchManifestation"
                    [resultFormatter]="manifestationsFormatter"
                    [inputFormatter]="manifestationsFormatter"
                    (focus)="focus$.next($event.target.value)"
                    (click)="click$.next($event.target.value)"
                    #searchManifestationInstance="ngbTypeahead"/>
            <!--<ul ngbDropdownMenu class="dropdown-menu">
              <li (click)="onManifestationClicked(manifestation)" class="dropdown-item" *ngFor="let manifestation of manifestationsList">
                  {{ manifestation.name }}
              </li>
            </ul>-->
        </div>
        <div class="col-sm-6">
          <div class="col-sm-6" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>
              {{ 'STANDARD_ROLES' | translate }}
            </button>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li class="dropdown-item" *ngFor="let role of user.standardRoles">
                <nb-checkbox name="roleChoose" [(ngModel)]="role.selected">{{ role.name }}</nb-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </div>  

        <div class="mb-3" [hidden]="isOneRoleInManifestation">
          <ol *ngFor="let manifestation of user.manifestations">
            {{manifestation.name}}
            <ol>
                <li *ngFor="let role of manifestation.roles">{{role.name}}</li>
            </ol>
          </ol>  
        </div>

        <div class="mb-3">
          <input nbInput
                placeholder="{{'BIRTHDATE'| translate}}"
                [nbDatepicker]="formpicker"
                name="birthDate"
                #birthdate="ngModel"
                [(ngModel)]="user.birthDate"
                >
      <nb-datepicker #formpicker></nb-datepicker>
        </div>




        <div class="mb-3">
          <button class="btn btn-primary" nbButton hero>{{'USER_BUTTON'|translate}}</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
