<nb-card-header>{{ 'NEW_SCHOOL'| translate }}</nb-card-header>
  <br>
  <nb-card-body>
    <input type="text" placeholder="{{ 'NAME' | translate }}" class="form-control"/>
    <br>

    <p class="place" >{{ 'PLACE' | translate }}</p>
    <input type="text" placeholder="{{ 'STREET' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'CIVIC_NUMBER' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'CITY' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'POSTAL_CODE' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'PROVINCE' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'REGION' | translate }}" class="form-control"/>
    <input type="text" placeholder="{{ 'COUNTRY' | translate }}" class="form-control"/>
    <br>
    
  </nb-card-body>
  <br>
  <button nbButton class="create-user">{{'CREATE_SCHOOL'|translate}}</button>
     
     

