<div *ngIf="!this.phaseSelected">
  <div class="welcome" *ngIf="!authService.isManifestationSelected()">
    <div class="maintitle">
      <h1 class="font-w-bold">{{ 'SELECT_A_MANIFESTATION' | translate }}</h1>
    </div>

    <div class="subtitle">
      <h1 class="font-w-light">{{'GO_TO_THE_DASHBOARD' | translate}}!</h1>
    </div>
  </div>



  <div *ngIf="authService.isManifestationSelected()">

    <div class="subtitle">
      <h1 class="font-w-light">{{'SELECT_A_PHASE' | translate}}</h1>
    </div>

    <div class="mb-3" ngbDropdown>

      <div class="col-md-6 offset-md-3">
        <input type="text" class="form-control" placeholder="{{ 'WRITE_PHASE_NAME' | translate }}" (selectItem)="onPhaseClicked($event)"
          [ngbTypeahead]="searchPhase" [resultFormatter]="phasesFormatter" [inputFormatter]="phasesFormatter" (focus)="focus$.next($event.target.value)"
          (click)="click$.next($event.target.value)" #searchPhaseInstance="ngbTypeahead" />
      </div>
    </div>
  </div>
</div>

<div class="body" *ngIf="this.phaseSelected">

  <div *ngIf="authService.canDo('findFieldsFromPhaseId')" class="row">
    <nb-card *ngFor="let field of fields" class="ml-3" [status]="field.cardStatus" size="xsmall">
      <nb-card-header>
            <div class="number">{{field.number}}</div>
      </nb-card-header>
      <nb-card-body>
          <div class="row" *ngIf="field.status == 'running'">
            <div class="col-md-6">
              {{field.team}}
            </div>
            <div class="col-md-6">
              {{field.status}}
            </div>
         </div>
         <div class="row" *ngIf="field.status != 'running'">
            <div class="col-md-12">{{field.status}}</div>
         </div>
      </nb-card-body>
      <nb-card-footer>
          <div class="row" *ngIf="field.status == 'running'">
            <div class="score font-w-bold">{{field.score}} <span class="font-w-light">pt</span></div>
            <div class="button"><button nbButton><i class="fas fa-search"></i></button></div>
          </div> 
          <div class="row" *ngIf="field.status != 'running'">
              <div class="button"><button nbButton><i class="fas fa-search"></i></button></div>
          </div> 
      </nb-card-footer>
    </nb-card>
  </div>

  <div *ngIf="authService.canDo('resetAllFields')" class="footer">
    <nb-card fullWidth>
      <nb-card-body>
        <button class="btn btn-secondary btn-demo" (click)="resetAllFields()">{{'RESET_ALL_FIELDS'| translate}}</button>
      </nb-card-body>
    </nb-card>
  </div>

</div>
