<nb-layout>
  <nb-layout-column>
<body>
    <header>
        <div class="container">
            <nav>
                <input type="checkbox" id="nav" class="hidden">
                <label for="nav" class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </label>
                <img class="logorounded" src="./../../assets/images/Logo.1.jpeg">
                <div class="nav-wrapper">
                    <ul>
                        <nav class="cl-effect-3">
                            <li><a href="#/main-page">Home</a></li>
                            <li><a href="#/public-ranking">{{'RANKING'|translate}}</a></li>
                            <li><a href="#/contact-us">{{'CONTACT_US'|translate}}</a></li>
                            <li><a href="#/auth/login" class="circlelink bubbly-button" style="text-align: center;padding: 11px">{{'LOGIN_TITLE'|translate}}</a></li>
                        </nav>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section id="content">
        <div class="container text">
            <h3>{{'WELCOME_IN'|translate}}</h3>
            <h1>Robocup Network</h1>
        </div>
    </section>

    <section id="content">
        <div class="container info">
            <p>{{'WHAT_IS_ROBOCUP_DESCRIPTION'|translate}}</p>
        </div>
    </section>

    <section>
        <div class="container">
            <ul class="cards">
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image card__image--rescueline"></div>
                        <div class="card__content">
                            <div class="card__title">RESCUE</div>
                            <p class="card__text">{{'RESCUE_DESCRIPTION'|translate}} </p>

                        </div>
                    </div>
                </li>
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image card__image--soccer"></div>
                        <div class="card__content">
                            <div class="card__title">SOCCER</div>
                            <p class="card__text">{{'SOCCER_DESCRIPTION'|translate}}</p>

                        </div>
                    </div>
                </li>
                <li class="cards__item">
                    <div class="card">
                        <div class="card__image card__image--onstage"></div>
                        <div class="card__content">
                            <div class="card__title">ONSTAGE</div>
                            <p class="card__text">{{'ONSTAGE_DESCRIPTION'|translate}} </p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>



    <footer class="text">
        <div class="container">
            <p>Created by <a class="school" href="#">IIS A.Volta</a> Pescara 2019</p>
                    <a class="flag" (click)="languageSelect('italian')"><img src="./../../assets/images/italy (1).png" style="width: 30px; height:30px;"></a>
                    <a class="flag"(click)="languageSelect('english')"><img src="./../../assets/images/united-kingdom (1).png" style="width: 30px; height:30px;"></a>
            
        </div>
    </footer>
</body>
</nb-layout-column>
</nb-layout>