<ngx-one-column-layout>
  <router-outlet>
    <div class="row">
      <div class="col-sm-6">
        <div class="left-content">
        <div class="maintitle" id="wrap">
          <span>RobocupNetwork@home:~$ </span>
        </div>
        <div class="subtitles">ls robocupnetwork/videos</div>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/44IZUZ5mNx8" frameborder="0" allowfullscreen></iframe>
        <div class="subtitles">1 item found.</div>
      </div>
    </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2 icon">
            <img src="./../../assets/images/Logo.jpeg" width="100px" height="100px">
          </div>
        </div>
        <div class="right-content">
            <h1 class="right-title">{{'WHAT_IS_ROBOCUP'|translate  }}</h1>
            <p class="right-description">{{'WHAT_IS_ROBOCUP_DESCRIPTION'|translate}}</p>
            <div class="row button">
              <div class="col-md-5"></div>
              <div class="col-md-2"><a href="#/auth/login" class="btn btn-2">{{'LOGIN_SIGNIN'|translate}}</a></div>
              <div class="col-md-5"></div>
            </div>
        </div>
      </div>
    </div>

    <div class="row footer">
      <div class="col-sm-12">
        <nb-card>
          <div class="row">
              <div class="socials col-sm-4">
                <a href="https://github.com/" target="_blank" class="ion ion-social-github"></a>
                <a href="https://it-it.facebook.com/Voltapescara.official/" target="_blank" class="ion ion-social-facebook"></a>
              </div>
            <div class="credits col-sm-4">
              <div class="row">
                <a class="mr-3" (click)="languageSelect('italian')">
                  <img src="./../../../assets/images/italy.png" width="40px" height="40px">
                </a>
                <a class="ml-3" (click)="languageSelect('english')">
                  <img src="./../../../assets/images/united-kingdom.png" width="40px" height="40px">
                </a>
              </div>
            </div>
            <div class="credits col-sm-4">
              <span class=" created-by">
                {{ 'CREATED_BY' | translate }}
                <a class="font-w-bold linkschool" href="http://iisvoltapescara.gov.it/" target="_blank">I.I.S A.Volta
                  Pescara</a>
                2018-2019
              </span>
            </div>
          </div>
        </nb-card>
      </div>
    </div>




  </router-outlet>
</ngx-one-column-layout>


<!--
<div class="header">
   <a href="#/auth/login" class="logo">{{'LOGIN' | translate}}</a>
  <div class="info">
  <h4>{{'WELCOME_IN'|translate}}</h4>
  <div class="maintitle" id="wrap">
    <span>RobocupNetwork@home:~$ </span>
  </div>
    <div class="meta">
      <br>
      <br>
    </div>
  </div>
</div>
<section class="content">
<h1 align="center">{{'WHAT_IS_ROBOCUP'|translate  }}</h1>
<p>{{'WHAT_IS_ROBOCUP_DESCRIPTION'|translate}}</p>
</section>
<div class="footer">
  <div class="row cards">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <nb-card>
        <nb-card-header>
          Soccer
        </nb-card-header>
        <nb-card-body>
          {{'SOCCER_DESCRIPTION'|translate}}
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4">
      <nb-card>
        <nb-card-header>
          Rescue
        </nb-card-header>
        <nb-card-body>
          {{'RESCUE_DESCRIPTION'|translate}}
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-3">
      <nb-card>
        <nb-card-header>
          On Stage
        </nb-card-header>
        <nb-card-body>
          {{'ONSTAGE_DESCRIPTION'|translate}}
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-1"></div>
  </div>
    <a href="http://iisvoltapescara.gov.it/" class="logo">{{'CONTACT_US'|translate}}</a>
</div>
-->
