
<div class="header">
   <a href="#/auth/login" class="logo">{{'LOGIN' | translate}}</a>
  <div class="info">
  <h4>{{'WELCOME_IN'|translate}}</h4>
  <div class="maintitle" id="wrap">
    <span>RobocupNetwork@home:~$ </span>
  </div>
    <div class="meta">
      <br>
      <br>
    </div>
  </div>
</div>
<section class="content">
<h1 align="center">{{'WHAT_IS_ROBOCUP'|translate  }}</h1>
<p>{{'WHAT_IS_ROBOCUP_DESCRIPTION'|translate}}</p>
</section>
<div class="footer">
  <div class="row cards">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <nb-card>
        <nb-card-header>
          Soccer
        </nb-card-header>
        <nb-card-body>
          {{'SOCCER_DESCRIPTION'|translate}}
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4">
      <nb-card>
        <nb-card-header>
          Rescue
        </nb-card-header>
        <nb-card-body>
          {{'RESCUE_DESCRIPTION'|translate}}
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-3">
      <nb-card>
        <nb-card-header>
          On Stage
        </nb-card-header>
        <nb-card-body>
          {{'ONSTAGE_DESCRIPTION'|translate}}
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-1"></div>
  </div>
    <a href="http://iisvoltapescara.gov.it/" class="logo">{{'CONTACT_US'|translate}}</a>
</div>