.maintitle {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5px;
    margin-top: 7px;
}

.subtitle {
    text-align: center;
    font-size: 3rem;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

