<button class = "mb-3" [ngClass]="{ 'btn': true, 'btn-success': !role.show, 'btn-danger': role.show }" type="button" (click)="toggleForm()">
  <i [ngClass]="{ 'fas': true, 'fa-plus': !role.show, 'fa-times': role.show }"></i>
  {{ (role.show ? 'HIDE_FORM' : 'SHOW_FORM') | translate }}
</button>

<form (ngSubmit)="onButtonClicked()" #form="ngForm" [hidden]="!role.show">
  <div class="form-group">
  <nb-card>
    <nb-card-header>{{'NEW_ROLE' | translate}}</nb-card-header>
    <nb-card-body>
      <div class="mb-3">
        <label for="input-name" class="sr-only">{{ 'ROLE_NAME' | translate}}</label>
        <input nbInput
        [(ngModel)]="role.name"
        #name="ngModel"
        id="input-name"
        name="name"
        placeholder="{{ 'ROLE_NAME' | translate }}"
        autofocus
        fullWidth
        [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''"
        required>
        <small class="form-text error" *ngIf="name.touched && name.errors?.required">
            {{ 'ROLE_NAME_REQUIRED' | translate }}
        </small>
      </div>
      <div class="mb-3">
        <textarea nbInput [(ngModel)]="role.description" name="description" rows="5" placeholder="{{'ROLE_DESCRIPTION'|translate}}" class="form-control"></textarea>
      </div>

      <div class="row mb-3">
        <div class="col-sm-9">
          <label for="input-alias" class="sr-only">{{ 'ALIAS' | translate}}</label>
          <input nbInput
          [(ngModel)]="role.alias"
          #alias="ngModel"
          id="input-alias"
          name="alias"
          placeholder="{{ 'ALIAS' | translate }}"
          autofocus
          fullWidth
          [status]="alias.dirty ? (alias.invalid  ? 'danger' : 'success') : ''"
          required>
          <small class="form-text error" *ngIf="alias.touched && alias.errors?.required">
              {{ 'ALIAS_REQUIRED' | translate }}
          </small>
        </div>
        <div class="col-sm-3">
            <nb-checkbox name="dependsOnManifestation" (change)="onCheckboxChange($event)" [(ngModel)]="role.dependsOnManifestation">{{ 'DEPENDS_ON_MANIFESTATION' | translate }}</nb-checkbox>
        </div>
      </div>

      <div class="mb-3" ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            {{ 'ACTIONS' | translate }}
          </button>
          <ul ngbDropdownMenu class="dropdown-menu">
              <li class="dropdown-item" *ngFor="let action of role.actions">
                  <nb-checkbox name="actionChoose" [(ngModel)]="action.selected">{{ action.name }}</nb-checkbox>
              </li>
            </ul>
      </div>
      <button class="btn btn-primary" [disabled]="form.submitted || !form.valid" nbButton hero>{{'ROLE_BUTTON'|translate}}</button>
    </nb-card-body>
  </nb-card>
  </div>
</form>


<nb-card size="xxlarge">
<nb-card-header>
  {{'ROLES'|translate}}
</nb-card-header>

<nb-card-body>
  <ng2-smart-table [settings]="settings" [source]="source"
    (editConfirm)="onEditConfirm($event)"
    (deleteConfirm)="onDeleteConfirm($event)">
  </ng2-smart-table>
</nb-card-body>
</nb-card>

