<button class="mb-3" [ngClass]="{ 'btn': true, 'btn-success': !category.show, 'btn-danger': category.show }" type="button" (click)="toggleForm()">
  <i [ngClass]="{ 'fas': true, 'fa-plus': !category.show, 'fa-times': category.show }"></i>
  {{ (category.show ? 'HIDE_FORM' : 'SHOW_FORM') | translate }}
</button>


<form (ngSubmit)="onButtonClicked()" #form="ngForm" [hidden]="!category.show">
  <div class="form-group">
    <nb-card>
      <nb-card-header>{{'NEW_CATEGORY' | translate}}</nb-card-header>
      <nb-card-body>
        <div class="mb-3">
          <label for="input-name" class="sr-only">{{ 'CATEGORY_NAME' | translate}}</label>
          <input nbInput
                  [(ngModel)]="category.name"
                  #name="ngModel"
                  id="input-name"
                  name="name"
                  placeholder="{{ 'CATEGORY_NAME' | translate }}"
                  autofocus
                  fullWidth
                  [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''"
                  required>
          <small class="form-text error" *ngIf="name.touched && name.errors?.required">
            {{ 'CATEGORY_NAME_REQUIRED' | translate }}
          </small>
         </div>
         <div class="mb-3">
          <textarea nbInput [(ngModel)]="category.description" name="description" rows="5" placeholder="{{'CATEGORY_DESCRIPTION'|translate}}"
            class="form-control"></textarea>
        </div>
         <div class="mb-3">
            <label for="input-scoringType" class="sr-only">{{ 'CATEGORY_SCORING_TYPE' | translate}}</label>
            <input nbInput
                    [(ngModel)]="category.scoringType"
                    #scoringType="ngModel"
                    id="input-scoringType"
                    name="scoringType"
                    placeholder="{{ 'CATEGORY_SCORING_TYPE' | translate }}"
                    autofocus
                    fullWidth
                    [status]="scoringType.dirty ? (scoringType.invalid  ? 'danger' : 'success') : ''"
                    required>
            <small class="form-text error" *ngIf="scoringType.touched && scoringType.errors?.required">
              {{ 'CATEGORY_SCORING_TYPE_REQUIRED' | translate }}
            </small>
           </div>
           <div class="mb-3">
            <label for="input-runType" class="sr-only">{{ 'CATEGORY_RUN_TYPE' | translate}}</label>
            <input nbInput
                    [(ngModel)]="category.runType"
                    #runType="ngModel"
                    id="input-scoringType"
                    name="runType"
                    placeholder="{{ 'CATEGORY_RUN_TYPE' | translate }}"
                    autofocus
                    fullWidth
                    [status]="runType.dirty ? (runType.invalid  ? 'danger' : 'success') : ''"
                    required>
            <small class="form-text error" *ngIf="runType.touched && runType.errors?.required">
              {{ 'CATEGORY_RUN_TYPE_REQUIRED' | translate }}
            </small>
          </div>
          <div class="mb-3">
            <label for="input-maxRobotsPerTeam" class="sr-only">{{ 'CATEGORY_MAX_ROBOTS_PER_TEAM' | translate}}</label>
            <input nbInput
                    [(ngModel)]="category.maxRobotsPerTeam"
                    #maxRobotsPerTeam="ngModel"
                    id="input-maxRobotsPerTeam"
                    name="maxRobotsPerTeam"
                    placeholder="{{ 'CATEGORY_MAX_ROBOTS_PER_TEAM' | translate }}"
                    autofocus
                    fullWidth
                    [status]="maxRobotsPerTeam.dirty ? (maxRobotsPerTeam.invalid  ? 'danger' : 'success') : ''"
                    required>
            <small class="form-text error" *ngIf="maxRobotsPerTeam.touched && maxRobotsPerTeam.errors?.required">
              {{ 'CATEGORY_MAX_ROBOTS_PER_TEAM_REQUIRED' | translate }}
            </small>
          </div>
          <div class="mb-3">
              <label for="input-maxTeamsPerLineup" class="sr-only">{{ 'CATEGORY_MAX_TEAMS_PER_LINEUP' | translate}}</label>
              <input nbInput
                      [(ngModel)]="category.maxTeamsPerLineup"
                      #maxTeamsPerLineup="ngModel"
                      id="input-scoringType"
                      name="maxTeamsPerLineup"
                      placeholder="{{ 'CATEGORY_MAX_TEAMS_PER_LINEUP' | translate }}"
                      autofocus
                      fullWidth
                      [status]="maxTeamsPerLineup.dirty ? (maxTeamsPerLineup.invalid  ? 'danger' : 'success') : ''"
                      required>
              <small class="form-text error" *ngIf="maxTeamsPerLineup.touched && maxTeamsPerLineup.errors?.required">
                {{ 'CATEGORY_MAX_TEAMS_PER_LINEUP_REQUIRED' | translate }}
              </small>
           </div>
           <div class="mb-3">
              <label for="input-isDividedIntoZones" class="sr-only">{{ 'CATEGORY_IS_DIVIDED_INTO_ZONES' | translate}}</label>
              <input nbInput
                      [(ngModel)]="category.isDividedIntoZones"
                      #isDividedIntoZones="ngModel"
                      id="input-isDividedIntoZones"
                      name="isDividedIntoZones"
                      placeholder="{{ 'CATEGORY_IS_DIVIDED_INTO_ZONES' | translate }}"
                      autofocus
                      fullWidth
                      [status]="isDividedIntoZones.dirty ? (isDividedIntoZones.invalid  ? 'danger' : 'success') : ''"
                      required>
              <small class="form-text error" *ngIf="isDividedIntoZones.touched && isDividedIntoZones.errors?.required">
                {{ 'CATEGORY_IS_DIVIDED_INTO_ZONES_REQUIRED' | translate }}
              </small>
           </div>
           <div class="mb-3">
              <label for="input-checkpointsDetermineZones" class="sr-only">{{ 'CATEGORY_CHECKPOINTS_DETERMINE_ZONES' | translate}}</label>
              <input nbInput
                      [(ngModel)]="category.checkpointsDetermineZones"
                      #checkpointsDetermineZones="ngModel"
                      id="input-checkpointsDetermineZones"
                      name="checkpointsDetermineZones"
                      placeholder="{{ 'CATEGORY_CHECKPOINTS_DETERMINE_ZONES' | translate }}"
                      autofocus
                      fullWidth
                      [status]="checkpointsDetermineZones.dirty ? (checkpointsDetermineZones.invalid  ? 'danger' : 'success') : ''"
                      required>
              <small class="form-text error" *ngIf="checkpointsDetermineZones.touched && checkpointsDetermineZones.errors?.required">
                {{ 'CATEGORY_CHECKPOINTS_DETERMINE_ZONES_REQUIRED' | translate }}
              </small>
           </div>
           <div class="mb-3">
             <label for="input-requiresEvacuation" class="sr-only">{{ 'CATEGORY_REQUIRES_EVACUATION' | translate}}</label>
             <input nbInput
                     [(ngModel)]="category.requiresEvacuation"
                     #requiresEvacuation="ngModel"
                     id="input-requiresEvacuation"
                     name="requiresEvacuation"
                     placeholder="{{ 'CATEGORY_REQUIRES_EVACUATION' | translate }}"
                     autofocus
                     fullWidth
                     [status]="requiresEvacuation.dirty ? (requiresEvacuation.invalid  ? 'danger' : 'success') : ''"
                     required>
             <small class="form-text error" *ngIf="requiresEvacuation.touched && requiresEvacuation.errors?.required">
               {{ 'CATEGORY_REQUIRES_EVACUATION_REQUIRED' | translate }}
             </small>
          </div>
          <div class="mb-3">
           <label for="input-defaultMaxTime" class="sr-only">{{ 'CATEGORY_DEFAULT_MAX_TIME' | translate}}</label>
           <input nbInput
                   [(ngModel)]="category.defaultMaxTime"
                   #defaultMaxTime="ngModel"
                   id="input-defaultMaxTime"
                   name="defaultMaxTime"
                   placeholder="{{ 'CATEGORY_DEFAULT_MAX_TIME' | translate }}"
                   autofocus
                   fullWidth
                   [status]="defaultMaxTime.dirty ? (defaultMaxTime.invalid  ? 'danger' : 'success') : ''"
                   required>
           <small class="form-text error" *ngIf="defaultMaxTime.touched && defaultMaxTime.errors?.required">
             {{ 'CATEGORY_DEFAULT_MAX_TIME_REQUIRED' | translate }}
           </small>
        </div>


        <button class="btn btn-primary" nbButton hero>{{'CATEGORY_BUTTON'|translate}}</button>
      </nb-card-body>
    </nb-card>
  </div>
</form>


<nb-card>
  <nb-card-header>
    {{'CATEGORIES'|translate}}
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                      (createConfirm)="onCreateConfirm($event)"
                      (editConfirm)="onEditConfirm($event)"
                      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

