<div class="form-group">
  <label for="input-password" class="sr-only">{{ 'NEW_PASSWORD' | translate }}</label>
  <input nbInput [(ngModel)]="user.password" #password="ngModel" type="password" id="input-password" name="password"
    placeholder="{{ 'NEW_PASSWORD' | translate }}" fullWidth [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
    required [minlength]="passwordRange.minLength" [maxlength]="passwordRange.maxLength">
  <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
    {{ 'PASSWORD_REQUIRED' | translate }}
  </small>
  <small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
    {{ 'PASSWORD_LENGTH_ERROR' | translate:passwordRange }}
  </small>
</div>

<div class="form-group">
  <label for="input-re-password" class="sr-only">{{ 'REGISTER_CONFIRM_PASSWORD' | translate }}</label>
  <input nbInput [(ngModel)]="user.confirmPassword" #rePass="ngModel" type="password" id="input-re-password" name="rePass"
    placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" fullWidth [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
    required>
  <small class="form-text error" *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">
    {{ 'PASSWORD_CONFIRMATION_REQUIRED' | translate }}
  </small>
  <small class="form-text error" *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
    {{ 'PASSWORD_CONFIRMATION_ERROR' | translate }}
  </small>
</div>

<button class="btn btn-primary" (click)="onButtonClicked()" nbButton hero>{{ 'APPLY_CHANGES' | translate }}</button>
