.title {
    font-size: 1.7rem;
}

.icon {
    font-size: 1.7rem;
    width: 100%;
    position: absolute;
    margin-left: 18rem;
}

.list-button {
    border: 1px solid nb-theme(separator);
}

nb-actions {
    margin-top: 20%;
    font-size: 1.5rem;
}

nb-card-footer {
    text-align: center;
}
