<form (ngSubmit)="onCreateSchoolButtonPressed()" #form="ngForm">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <nb-card-header>{{ 'NEW_SCHOOL'| translate }}</nb-card-header>
      <br>
      <nb-card-body>
        <input nbInput name="name" type="text" placeholder="{{ 'NAME' | translate }}" class="form-control" [(ngModel)] = "name" id="name" required/>
        <br>
        <p class="place" >{{ 'PLACE' | translate }}</p>
        <input nbInput name="street" type="text" placeholder="{{ 'STREET' | translate }}" class="form-control" [(ngModel)] = "place.street" required/>
        <input nbInput name="civic_number" type="text" placeholder="{{ 'CIVIC_NUMBER' | translate }}" class="form-control" [(ngModel)] = "place.civicNumber" required/>
        <input nbInput name="city" type="text" placeholder="{{ 'CITY' | translate }}" class="form-control" [(ngModel)] = "place.city" required/>
        <input nbInput name="postal_code" type="text" placeholder="{{ 'POSTAL_CODE' | translate }}" class="form-control" [(ngModel)] = "place.postalCode" required/>
        <input nbInput name="province" type="text" placeholder="{{ 'PROVINCE' | translate }}" class="form-control" [(ngModel)] = "place.province" required/>
        <input nbInput name="region" type="text" placeholder="{{ 'REGION' | translate }}" class="form-control" [(ngModel)] = "place.region" required/>
        <input nbInput name="country" type="text" placeholder="{{ 'COUNTRY' | translate }}" class="form-control" [(ngModel)] = "place.country" required/>
        <br>    
      </nb-card-body>
      <br>
      <button nbButton class="create-user">{{'CREATE_SCHOOL'|translate}}</button>
    </div>  
</div>     
</form>     

