<button class="mb-3" [ngClass]="{ 'btn': true, 'btn-success': !team.show, 'btn-danger': team.show }" type="button"
  (click)="toggleForm()">
  <i [ngClass]="{ 'fas': true, 'fa-plus': !team.show, 'fa-times': team.show }"></i>
  {{ (team.show ? 'HIDE_FORM' : 'SHOW_FORM') | translate }}
</button>

<form (ngSubmit)="onButtonClicked()" #form="ngForm" [hidden]="!team.show">
  <div class="form-group">
    <nb-card>
      <nb-card-header>{{'NEW_TEAM' | translate}}</nb-card-header>
      <nb-card-body>
        <div class="mb-3">
          <label for="input-name" class="sr-only">{{ 'TEM_NAME' | translate}}</label>
          <input nbInput [(ngModel)]="team.name" #name="ngModel" id="input-name" name="name" placeholder="{{ 'TEAM_NAME' | translate }}"
            autofocus fullWidth [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''" required>
          <small class="form-text error" *ngIf="name.touched && name.errors?.required">
            {{ 'TEAM_NAME_REQUIRED' | translate }}
          </small>
        </div>
        <div class="mb-3" ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            {{ 'AGE_RANGES' | translate }}
          </button>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li class="dropdown-item" *ngFor="let ageRange of team.ageRanges">
              <nb-checkbox name="ageRangeChoose" [(ngModel)]="ageRange.selected">{{ ageRange.name }}, {{ageRange.min}}, {{ageRange.max}}</nb-checkbox>
            </li>
          </ul>
        </div>
        <div class="mb-3" ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            {{ 'SCHOOLS' | translate }}
          </button>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li class="dropdown-item" *ngFor="let school of team.schools">
              <nb-checkbox name="schoolChoose" [(ngModel)]="school.selected">{{ school.name }}</nb-checkbox>
            </li>
          </ul>
        </div>
        <div class="mb-3" ngbDropdown>
          <input type="text" class="form-control"
                  placeholder="{{ 'USERS' | translate }}"
                  (selectItem)="onUserClicked($event)"
                  [ngbTypeahead]="searchUser"
                  [resultFormatter]="usersFormatter"
                  [inputFormatter]="usersFormatter"
                  (focus)="focus$.next($event.target.value)"
                  (click)="click$.next($event.target.value)"
                  #searchUserInstance="ngbTypeahead"/>
        </div>
      <!--<div class="mb-3" [hidden]="isOneUserInSchool">
        <ol *ngFor="let school of team.schools">
          {{school.name}}
          <ol>
              <li *ngFor="let user of school.users">{{user.name}}</li>
          </ol>
        </ol>
      </div>-->
        <button class="btn btn-primary" nbButton hero>{{'TEAM_BUTTON'|translate}}</button>
      </nb-card-body>
    </nb-card>
  </div>
</form>


<nb-card>
  <nb-card-header>
    {{'TEAMS'|translate}}
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
